.oscilator__panel{
  margin: 20px;
  margin: 20px;
  height: 115px;
  padding-left: 20px;
}
.oscilator__panel__control{
  display: flex;
}

.oscilator__panel__control button{
  height: 20px;
}
.slider-container__label {
  margin-left: -20px;
  user-select: none;
}